.aboutSection {
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    max-width: 1000px;
    width: 100%;
}

.heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-primary);
    font-weight: 700;
}

.highlight {
    color: var(--accent-color);
}

.content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
    align-items: start;
}

.wrapper {
    position: relative;
    max-width: 1000px;
    border-radius: 4px;
    
    
}

.wrapper::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    z-index: -1;
    transition: all 0.3s ease;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    transition: all 0.3s ease;
}


.text {
    color: var(--text-secondary);
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.infoList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.infoList li {
    color: var(--text-secondary);
    font-size: 16px;
    font-family: var(--font-mono);
}

.infoList li span {
    color: var(--text-primary);
    font-weight: 600;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .wrapper {
    position: relative;
    max-width: 300px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

    .imageCol {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .infoList {
        text-align: left;
        
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}