.skillsSection {
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-primary);
    font-weight: 700;
}

.highlight {
    color: var(--accent-color);
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
    gap: 30px;
    justify-content: start;
}

.card {
    background-color: var(--bg-secondary);
    padding: 24px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

    cursor: pointer;


    height: 190px;
    width: 100%;
    max-width: 180px;

    margin: 0 auto;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    border-color: var(--accent-color);
    background-color: rgba(10, 25, 47, 0.7);
}

.iconWrapper {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 200%;
    height: 200%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card:hover .icon {
    transform: scale(1.1);
}

.skillName {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
}

.categoryTitle {
    margin: 40px 0 20px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}
.purpose{
    font-size: 11.7px;
    text-align: center;
    color: var(--text-secondary)
}


@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 150px);
        gap: 15px;
    }

    .card {
        height: 210px;
        max-width: 150px;
        padding: 16px;
    }
}
